html {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', 'Arial', 'sans-serif';
    font-weight: 400;
    font-size: 24px;
    color: #000;
}


.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 27px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.borders {
    outline: 2px solid red;
/*    background-color: red;*/
}

.clearfix::after {
    content: ".";
    display: block;
    height: 570px;
    clear: both;
    visibility: hidden;
    z-index: 0;
}

.button {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 20px;
}

.orange-btn {
    font-size: 18px;
    font-weight: bold;
    color: #fefefe;
    outline: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 20px;
    background-image: -webkit-linear-gradient(left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -o-linear-gradient(left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: linear-gradient(to right, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
    border-bottom: 3px solid rgba(0, 0, 0, 0.17);
}

.orange-btn:hover,
.orange-btn:focus {
    background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
    border-bottom: 3px solid rgba(0, 0, 0, 0.47);
}

.orange-btn:active {
    border-bottom: none;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
    border-top: 3px solid rgba(0, 0, 0, 0.47);
}

.page {
    position: relative;
    background-color: #849d8f;
    min-width: 900px;
    transition: 2s;
}

.main-head {

}

.up-row {
    display: flex;
    padding-top: 10px;
}

.main-nav {
    padding-top: 12px;
    padding-left: 8px;
}

.logo {
    
}

.menu {
    display: flex;
}

.menu-item {
    position: relative;
    z-index: 10;
}

.wrapper-list {
    display: none;
    position: absolute;
    left: 0px;
    top: 35px;
}

.drop-list {
    margin-top: 10px;
    padding: 5px 0;
    background-color: #fff;
    border-radius: 5px;
    min-width: 150px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);   
}

.menu-item a {
    position: relative;
    color: #fff;
    text-decoration-line: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.4s;
    outline: none;
}

/*
.menu-item a::after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: 9px;
    width: 70%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}
*/

.menu-item .button:hover,
.menu-item .button:focus {
    background-color: #fff;
    color: #323232;
}

.menu-item a:hover + .wrapper-list,
.menu-item a:focus + .wrapper-list {
    display: block;
}

.wrapper-list:hover{
    display: block;
}

.menu-item .button:active {
    background-color: #fff;
    color: #ededed;
    border-top: 3px solid #696969;
    transition: 0.2s;
}

.drop-list:hover {
    display: block;
}

.wrapper-list {
    min-height: 30px;
}

.drop-list a {
    display: block;
    text-decoration: none;
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 15px;
    vertical-align: middle;
}

.drop-list li {
    transition: 0.2s;
}

.drop-list li:hover {
    background-color: #fbded7;
}

.drop-list li:active {
    background-color: #f6b5a5;
}

.drop-list li:nth-child(1) a {
    font-weight: bold;
    padding-bottom: 10px;
}

.drop-list li:nth-child(1) {
    position: relative;
}

.drop-list li:nth-child(1)::before {
    position: absolute;
    display: block;
    content: '';
    width: 90%;
    height: 1px;
    left: 5%;
    bottom: 0px;
    background-color: #cccccc;
}

/*------------- USER-NAV ---------------*/

.user-nav {
    position: relative;
    display: flex;
    margin-left: auto;
    padding-top: 12px;
    max-height: 45px;
    z-index: 10;
}

.user-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding-left: 45px;
    border-radius: 15px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

.user-nav .search {
    padding-left: 0;
    z-index: 2;
}

.user-nav .search svg {
    margin-right: -8px;
    padding-left: 8px;
}

.user-nav .enter {
    position: relative;
}

.user-nav .enter svg {
    position: absolute;
    top: 7px;
    left: 18px;
}

.user-nav .bag {
    position: relative;
}

.user-nav .bag svg {
    position: absolute;
    top: 7px;
    left: 18px;
}

.user-nav a:hover {
    background-color: #fff;
    color: #323232;
}

.user-nav a:hover svg path,
.user-nav a:hover svg circle,
.user-nav a:hover svg polygon {
    fill: #000;
    transition: 0.4s;
}

/*----------- WRAPPER SEARCH --------*/

.wrapper-panel {
    display: none;
    position: absolute;
    right: 210px;
    bottom: -86px;
    padding-top: 20px;
    z-index: 5;
}

.background-panel {
    padding: 15px 20px;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.wrapper-panel input {
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #c7c7c7;
    outline: none;
    font-size: 14px;
    min-height: 25px;
    padding: 5px 10px;
    width: 310px;
    height: 45px;
}

.wrapper-panel input::placeholder {
    color: #999;
}

.search:hover + .wrapper-panel,
.search:focus + .wrapper-panel {
    display: block;
}

.wrapper-search:hover {
    display: block;
}

.enter:hover + .wrapper-panel,
.enter:focus + .wrapper-panel {
    display: block;
}

.wrapper-panel:hover {
    display: block;
}

.enter + .wrapper-panel {
    top: 40px;
    right: 110px;
}

.enter + .wrapper-panel input {
    width: 240px;
    height: 43px;
    margin-bottom: 20px;
}

.enter + .wrapper-panel .background-panel {
    display: flex;
    flex-wrap: wrap;
}

.user-form {
    display: flex;
    flex-wrap: wrap;
}

.links {
    max-width: 158px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40px;
    margin-left: 40px
}

.links a {
    border-radius: 0;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #323232;
    border-bottom: 1px solid #b2b2b2;
}

.links a:hover,
.links a:focus {
    background: none;
    color: #e84d37;
}

.call a {
    background-color: rgba(0, 0, 0, 0);
    border-radius: none;
    font-size: 22px;
}

.call a:hover,
.call a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #e84d37;
}

.bottom-row {
    display: flex;
}

.breadcrumbs {
    display: flex;
    padding-top: 15px;
    margin-bottom: 43px;
}

.breadcrumbs-item a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 20px;
}

.invisible {
    display: none;
}

.call {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-left: auto;
    text-align: right;
}

.call a {
    font-size: 22px;
    text-decoration: none;
    color: #fff;
}

/*-------------- MAIN -----------------*/

.page-content {
    position: relative;
    margin-top: -40px;
}

.page-content h1 {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 28px;
}

.slider {
    position: relative;
}

.icecream-list {
    position: relative;
}

.icecream-item {
    position: absolute;
    opacity: 0;
    width: 100%;
    z-index: 0;
    transition: 1s;
}

.current {
    transition: 2s;
    opacity: 1;
    z-index: 1;
}

.image-wrapper {
    margin: 0 auto;
    max-width: 91%;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    margin-top: -74px;
}

.description {
    position: absolute;
    display: block;
    top: 320px;
    min-width: 700px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.description p {
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60.35px;
    font-weight: bold;
    color: #fff;
}

.description a {
    display: block;
    font-size: 32px;
    width: 280px;
    height: 65px;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    border-radius: 30px;
}

.slider-toogle {
    position: absolute;
    bottom: 57px;
    z-index: 5;
}

.slider-toogle button {
    width: 21px;
    height: 21px;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0);
    margin-right: 3px;
    cursor: pointer;
}

.slider-toogle button:hover,
.slider-toogle button:focus {
    background-color: rgba(255, 255, 255, 0.3);
}

.slider-toogle .current-slide {
    background-color: rgb(255, 255, 255);
}

/*--------------- BONUS --------------*/

.bonus {
    margin-bottom: 40px;
}

.bonus-list {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.bonus-item {
    display: flex;
    flex-wrap: wrap;
    width: 49%;
    border-radius: 21px;
    z-index: 1;
    padding: 14px 20px;
}

.bonus-item p {
    font-weight: bold;
    margin: 0;
}

.bonus-item p:first-child {
    font-size: 35px;
    margin-bottom: 20px;
}

.bonus-item p:nth-child(2){
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 46px;
}

.bonus-item .orange-btn {
    margin-left: auto;
    padding: 10px 24px;
    margin-bottom: 10px;
}

.raspberries {
    background: url('../img/raspberries.jpg') no-repeat center;
}

.chocolate {
    background: url('../img/chocolate.jpg') no-repeat center;
}

/*--------------- CARTS --------------*/

.carts-icecream {
    margin-bottom: 91px;
}

.cart-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart-item {
    position: relative;
    max-width: 267px;
    z-index: 5;
}


.cart-item p {
    margin: 0;
    color: #fff;
}

.text-wrapper {
    position: absolute;
    bottom: -80px;
}

.cost {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 30px;
}

.text-wrapper p:nth-child(2) {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

.text-wrapper .orange-btn {
    position: absolute;
    display: block;
    width: 80%;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
}

.cart-item .orange-btn {
    display: none;
}

.hit {
    position: relative;
}

.hit::before {
    content: '';
    position: absolute;
    width: 65px;
    height: 65px;
    background: url('../img/hit.png') no-repeat center;
}

.cart-item:hover::after {
    content: '';
    position: absolute;
    width: 110%;
    height: 420px;
    top: -5%;
    left: -5%;
    border-radius: 10px;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.21);
}

.cart-item:hover .orange-btn {
    display: block;
}

.icecream-wrapper img {
    width: 100%;
    height: 100%;
}

/*------------- ADVANTAGES ------------*/

.advantages {
    padding: 0 27px;
    margin-bottom: 40px;
}

.wrapper-2 {
    background: url('../img/wafer.jpg') no-repeat center;
    border-radius: 15px;
    background-size:cover;
    color: #323232;
    padding: 25px 20px 0px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
}

.advantages p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 20px;
}

.advantages-item {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    flex-basis: 50%;
    padding: 0 10px 28px 56px;
}

.icecream-ico::before,
.cow-ico::before,
.leaflet-ico::before,
.thermometer-ico::before {
    position: absolute;
    content: '';
    width: 50px;
    height: 60px;
    left: 0;
    top: -18px;
}

.icecream-ico::before {
    background: url('../img/ico-ice-cream.svg') no-repeat center;
}

.cow-ico::before {
    background: url('../img/ico-cow.svg') no-repeat center;
}

.leaflet-ico::before {
    background: url('../img/ico-leaflet.svg') no-repeat center;
}

.thermometer-ico::before {
    background: url('../img/ico-thermometer.svg') no-repeat center;
}

/*------- NEW AND SUBSCRIPTION --------*/

.new-and-subscription {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.block {
    flex-basis: 50%;
    border-radius: 15px;
}

.new-in-blog {
    background: url('../img/strawberry.jpg') no-repeat center;
    padding: 25px 20px;
    padding-bottom: 80px;
    background-size: cover;
    margin-right: 25px;
}

.new-in-blog h3 {
    font-size: 16px;
    color: #323232;
    margin: 0;
    padding: 0;
    margin-bottom: 7px;
}

.new-in-blog a {
    display: inline-block;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #323232;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    max-width: 300px;
}


.subscription {
    display: flex;
    flex-wrap: wrap;
    background: url('../img/mail-fone.png') no-repeat center;
    padding: 17px 26px;
    background-size: cover;
}

.subscription p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;
    margin-bottom: 16px;
}

.subscription input {
    font-size: 16px;
    padding: 15px;
    line-height: 24px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    height: 44px;
    flex-grow: 2;
    outline: none;
    margin-right: 18px;
}

.subscription button {
    height: 45px;
}

/*--------------- MAP ---------------*/

.interactive-map {
    position: relative;
}

.interactive-map img {
    width: 100%;
}

#map {
    width: 100%;
    height: 430px;
}

.address-block {
    position: absolute;
    margin-left: calc(50% + 220px);
    top: 62px;
    background-color: #fffffe;
    max-width: 302px;
    border-radius: 20px;
    padding: 32px 20px;
}

.address-block p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #323232;
    margin: 0;
}

.address-block p:nth-child(2n) {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.address-block p:nth-child(2) {
    margin-bottom: 20px;
}

.address-block p:nth-child(5) {
    margin-bottom: 26px;
}

/*------------ FOOTER --------------*/

.main-footer {
    display: flex;
    padding: 30px;
}

.social {
    display: flex;
    align-self: center;
    margin-right: 19.5%;
}

.social li {
    margin-right: 14px;
}

.social a {
    display: block;
    width: 35px;
    height: 35px;
    color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    opacity: 0.5;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

.twitter {
    background: url('../img/twitter.svg') no-repeat center;
}

.instagram {
    background: url('../img/instagram.svg') no-repeat center;
}

.facebook {
    background: url('../img/facebook.svg') no-repeat center;
}

.vk {
    background: url('../img/vk.svg') no-repeat center;
}

.reference-info {
    display: flex;
    flex-wrap: wrap;
}

.reference-info li {
    flex-basis: 36%;
    line-height: 18px;
}

.reference-info a {
    display: block;
    color: #fff;
    font-size: 13px;
    line-height: 23px;
    text-decoration: underline;
}

.hart {
    position: relative;
}

.hart::after {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    left: -30px;
    top: -3px;
    z-index: 10;
    background: url('../img/hart.svg') no-repeat center;
}

.html-academy {
    position: relative;
    margin-left: auto;
}

.html-wrapper {
    position: absolute;
    width: 105px;
    height: 34px;
    left: 5px;
    top: -12px;
}

.html-academy a {
    display: block;
    width: 190px;
    padding-top: 35px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.reference-info a:hover,
.reference-info a:focus,
.html-academy a:hover,
.html-academy a:focus {
    color: #ff4b4b;
}

.social a:hover,
.social a:focus {
    opacity: 1;
}

.social a:active {
    opacity: 0.3;
}

/*---------- POPAP --------*/

.popap {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    top: -50vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
    background-color: #f8f7f4;
    border-radius: 15px;
    padding: 21px 29px;
    font-size: 16px;
    max-width: 530px;
    opacity: 0;
    transition: 0.7s;
}

.show-popap {
   top: 20vh;
    opacity: 1;
}

.overlay {
    display: none;
    position: fixed;
    left 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.46);
    z-index: 10;
}

.close-popap-btn {
    position: absolute;
    right: 23px;
    top: 16px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    transition: 0.3s;
    opacity: 0.8;
    outline: none;
    color: rgba(0, 0, 0, 0);
}

.close-popap-btn::before {
    position: absolute;
    content: '';
    top: 15px;
    left: 2px;
    width: 25px;
    height: 2px;
    transform: rotate(45deg);
    background-color: #000;
}

.close-popap-btn::after {
    position: absolute;
    content: '';
    top: 15px;
    left: 2px;
    width: 25px;
    height: 2px;
    transform: rotate(-45deg);
    background-color: #000;
}

.close-popap-btn:hover,
.close-popap-btn:focus {
    transform: scale(1.2);
    opacity: 1;
}

.close-popap-btn:active {
    transform: scale(1);
    opacity: 0.3;
    right: 23px;
}


.popap h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 28px;
    color: #323232;
    font-weight: 600;
    flex-basis: 100%;
    margin-bottom: 20px;
}

.popap input {
    flex-basis: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    margin-right: 37%;
}

.popap textarea {
    flex-basis: 100%;
    padding: 15px;
    margin-bottom: 24px;
    border: 2px solid rgba(0, 0, 0, 0.11);
    border-radius: 5px;
}

.popap .orange-btn {
    margin-left: auto;
    padding: 14px 28px;
    margin-bottom: 7px;
}

/*----------------- CATALOG ---------------*/

.full svg path {
    fill: #ff0000;
}

.current-button {
    background-color: #d07058;
    display: block;
    padding: 8px 15px;
}

.bag-list {
    flex-basis: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.bag-panel {
    display: none;
    position: absolute;
    min-width: 540px;
    top: 44px;
    right: 0px;
    padding-top: 6px;
}

.full:hover + .bag-panel,
.full:focus + .bag-panel {
    display: flex;
}

.bag-panel:hover {
    display: flex;
}

.bag-panel p {
    margin: 0;
    padding: 0;
}

.background-bag {
    display: flex;
    flex-wrap: wrap;
    padding: 21px 7px;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);    
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.bag-item {
    display: flex;
    min-width: 100%;
    align-items: center;
    margin-bottom: 18px;
}

.pic-wrapper {
    width: 35px;
    height: 35px;
    background: url('../img/1micro.png') no-repeat center;
    margin-right: 15px;
}

.bag-list .bag-item:nth-child(2) .pic-wrapper {
    background: url('../img/2micro.png') no-repeat center;
}

.bag-item p {
    font-size: 13px;
    font-weight: 16px;
}

.abort {
    position: relative;
    border: none;
    background: none;
    width: 35px;
    height: 35px;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    outline: none;
}

.abort:hover,
.abort:focus {
    transform: scale(1.2);
}

.abort:active {
    transform: scale(0.9);
    opacity: 0.7;
}


.abort::before {
    position: absolute;
    content: '';
    left: 8px;
    top: 17px;
    width: 13px;
    height: 1px;
    background-color: #000;
    transform: rotate(45deg);
}

.abort::after {
    position: absolute;
    content: '';
    left: 8px;
    top: 17px;
    width: 13px;
    height: 1px;
    background-color: #000;
    transform: rotate(-45deg);
}

.bag-item p:nth-child(3) {
    max-width: 220px;
}

.bag-item p:nth-child(4) {
    margin-left: auto;
}

.bag-item p:nth-child(5) {
    padding-right: 26px;
    padding-left: 28px;
}

.total-cost {
    margin-left: auto;
    padding-right: 5px;
    text-align: right;
    flex-basis: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #323232;
    margin-bottom: 10px;
}

.background-bag .orange-btn {
    margin-left: auto;
    margin-right: 5px;
    padding: 12px 14px;
}

/*------------ SORTED FORM ---------*/

.sort {
    margin-bottom: 20px;
}

.sort form{
    display: flex;
    flex-wrap: wrap;
}

.sort fieldset {
    position: relative;
    padding: 20px 0 0;
    color: #fff;
    border: none;
}

.sort legend {
    position: absolute;
    top: 0px;
    left: 15px;
    font-size: 14px;
    font-weight: 700;
}


.sort fieldset:nth-child(1) {
    position: relative;
}

.select-arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 158px;
    top: 29px;
    z-index: 999;
    background: url('../img/icon-down-dir.png') no-repeat center;
}

.radius-wrapper {
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 30px;
    outline: none;
    padding: 0 13px;
    font-size: 16px;
    font-weight: 700;
    min-height: 36px;
    color: #fff;
    min-height: 38px;
}

.sort .sorted-list {
    appearance: none;
    -webkit-appearance: none;
    padding-right: 35px;
}

.sort .radius-wrapper {
    margin-right: 12px;
}

.slider-wrapper {
    width: 220px;
}

.value-line {
    position: absolute;
    width: 77%;
    height: 2px;
    left: 8%;
    top: 37px;
    background-color: rgba(255, 255, 255, 0.3);
}

.active-line {
    position: absolute;
    width: 54%;
    height: 2px;
    left: 20px;
    top: 5%;
    background-color: rgba(255, 255, 255);
}

.min-value, .max-value {
    position: absolute;
    box-sizing: content-box;
    top: -8px;
    display: block;
    background-color: rgb(0, 184, 191);
    width: 4px;
    height: 4px;
    border: 8px solid #fff;
    border-radius: 50%;
}

.min-value {
    left: 8%;
}

.max-value {
    left: 62%;
}

.fat-list {
    display: flex;
}

.fat-list li:last-child {
    padding-right: 17px;
}

.sort .fat-list {
    padding-left: 5px;
    padding-right: 0px;
    margin-bottom: 15px;
}

.fat-list input[type="radio"] + label {
    position: relative;
    padding-left: 37px;
    display: block;
    margin-top: 10px;
    padding-right: 13px;
}

.fat-list input[type="radio"] + label::before {
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background: url('../img/radio-off.svg') no-repeat center;
    background-size: 100%;
    left: 5px;
    top: -2px;
}

.type-list {
    display: flex;
    margin-bottom: 20px;
}

input[type="checkbox"] + label {
    position: relative;
    padding-left: 37px;
    display: block;
    margin-top: 10px;
    padding-right: 13px;
}

input[type="checkbox"] + label::before {
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background: url('../img/checkbox-off.svg') no-repeat center;
    background-size: 80%;
    left: 5px;
    top: -2px;
}

input[type="checkbox"]:checked + label::before {
    background: url('../img/checkbox-on.svg') no-repeat center;
    background-size: 100%;
}

.sort button[type="submit"] {
    min-height: 35px;
    min-width: 145px;
    align-self: center;
    border: 2px solid #fff;
}

/*-------------- CARTS IN CATALOG --------------*/

.catalog .cart-item {
    padding-bottom: 70px;
    margin-bottom: 20px;
}

.catalog .text-wrapper {
    bottom: 0;
}

.cart-item:hover .icecream-wrapper {
    z-index: 154;
}




.clear {
    min-height: 500px;
}

.active {
    display: block;
}